<div class="sidebar">
   <div class="logo"><img src="/static/themes/img/Golf_CNX_Logo_02.svg"></div>
   <div class="menuBox">
      <ul>
         <a href="/">
            <li class="menu home" id="home_sidebar">
               <span class="home icons"><img src="/static/themes/img/icons/Home_Nav_Icon.svg"></span>Home
            </li>
         </a>
         <a href="/feed">
            <li class="menu feed" id="feed_sidebar">
               <span class="feed icons"><img src="/static/themes/img/icons/Feed_Nav_Icon.svg"></span>Feed
            </li>
         </a>
         <a href="/groups">
            <li class="menu groups" id="groups_sidebar">
               <span class="groups icons"><img src="/static/themes/img/icons/Groups_Nav_Icon.svg"></span>Groups
            </li>
         </a>
         <a href="/events">
            <li class="menu events" id="events_sidebar">
               <span class="events icons"><img src="/static/themes/img/icons/Events_Nav_Icon.svg"></span>Events
            </li>
         </a>
         <a href="/courses">
            <li class="menu courses" id="courses_sidebar">
               <span class="courses icons"><img src="/static/themes/img/icons/Courses_Nav_Icon.svg"></span>Courses
            </li>
         </a>
      </ul>
   </div>
</div>