<div class="topbar" id="topbar" style="background-color: #336633;">
   <div class="topbar-left">
      <a href="#" class="main-logo">
      <img src="/static/img/golf-logo.png" alt="Logo">
      </a>
      <a href="/" class="btn btn-primary btn-inverse">Go to  <span class="i-arrow-r"></span></a>
   </div>
   <div class="topbar-right">
      <div>
         <div class="topbar-search">
            <span class="i-search"></span>
            <form method="GET" action="/admin/search/">
               <input name="q" type="text" />
            </form>
         </div>
      </div>
      <div class="topbar-notifications dropdown">
         <a href="javascript:void(null)" class="dropdown-toggle" data-toggle="dropdown">
         <span class="badge badge-inverse badge-lg">0</span>
         </a>
      </div>
      <div class="topbar-options">
         <a href="javascript:void(null)" class="dropdown-toggle clearfix" data-toggle="dropdown">
         <span class="user-image">
         <img src="/site_media/upload/923/291/tjmfnzxw_th.png" alt="User Image">
         </span>
         <span class="caret"></span>
         </a>
         <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="http://support.campusbubble.com/" target="_blank">Support</a></li>
            <li><a href="/user/logout/">Sign out</a></li>
         </ul>
      </div>
   </div>
</div>