<div class="card">
   <div class="card-header cardDiv" role="tab" id="headingThree">
      <h5 class="mb-0 titleclass" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Add Admin<span id="headingThreeSpan" class="glyphicon fr glyphicon-minus"></span>
      </h5>
   </div>
   <div id="collapseThree" class="collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true" style="">
      <form id="addOrRemoveAdmin" class="card-block">
         <div class="form-group row">
            <div class="col-sm-3">
            	<span class="spanclass">Add/Remove Admin:</span>
            </div>
            <div class="col-sm-9">
               <div>
                  <div class="col-sm-1 sliderswitch">
                     <label class="switch">
                        <input id="1" value="on" checked="" type="checkbox">
                        <div class="slider round"></div>
                     </label>
                  </div>

                  <div class="col-sm-3">
                  	<img src="http://52.45.249.118:8080/site_media/user/images/86028b1b-fe48-463b-ab93-397affd0c753.png.144x144_q85_crop.png" class="adminimg">
                  	<span class="ml5px">Admin</span>
                  </div>

               </div>
            </div>
         </div>
        <div class="form-group row">
        	<input class="btn btn-default Savebtn" value="Save Details" type="submit">
        </div>
      </form>
   </div>
</div>